XWS-REST/xsd/Faktura.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:faktura="http://www.project.xml/faktura"
    targetNamespace="http://www.project.xml/faktura"
    xmlns:globals="http://www.project.xml/globals" elementFormDefault="qualified">
    <xs:import namespace="http://www.project.xml/globals" schemaLocation="Globals.xsd"
        id="globals"/>
    <xs:element name="Faktura">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="id" xmlns="http://basex.org/rest" minOccurs="0"></xs:element>
                <xs:element name="zaglavljeFakture">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="idPoruke">
                                <xs:simpleType>
                                    <xs:restriction base="globals:ID_poruke"> </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="dobavljac" type="faktura:TFirma"> </xs:element>
                            <xs:element name="kupac"> </xs:element>
                            <xs:element name="racun">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="1" name="brojRacuna">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:positiveInteger">
                                                  <xs:totalDigits value="6"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="datumRacuna" type="xs:date"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="vrednostRobe">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:fractionDigits value="2"/>
                                        <xs:totalDigits value="17"/>
                                        <xs:minInclusive value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="vrednostUsluga">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:fractionDigits value="2"/>
                                        <xs:totalDigits value="17"/>
                                        <xs:minInclusive value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ukupnoRobaIUsluge">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:fractionDigits value="2"/>
                                        <xs:totalDigits value="17"/>
                                        <xs:minInclusive value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ukupnoRabat">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:fractionDigits value="2"/>
                                        <xs:totalDigits value="17"/>
                                        <xs:minInclusive value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ukupnoPorez">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:fractionDigits value="2"/>
                                        <xs:totalDigits value="17"/>
                                        <xs:minInclusive value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element default="RSD" name="oznakaValute">
                                <xs:simpleType>
                                    <xs:restriction base="globals:TOznakaValute"> </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="iznosZaUplatu">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:fractionDigits value="2"/>
                                        <xs:totalDigits value="17"/>
                                        <xs:minInclusive value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="uplataNaRacun">
                                <xs:simpleType>
                                    <xs:restriction base="globals:TBrojRacuna"> </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="datumValute" type="xs:date"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element form="qualified" maxOccurs="unbounded" name="stavkaFakture">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="redniBroj">
                                <xs:simpleType>
                                    <xs:restriction base="xs:long">
                                        <xs:fractionDigits value="0"/>
                                        <xs:totalDigits value="3"/>
                                        <xs:minInclusive value="000"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="nazivRobeUsluge">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="5"/>
                                        <xs:maxLength value="120"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="kolicina">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:fractionDigits value="2"/>
                                        <xs:totalDigits value="12"/>
                                        <xs:minInclusive value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="jedinicaMere">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="6"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="jedinicnaCena">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:fractionDigits value="2"/>
                                        <xs:totalDigits value="12"/>
                                        <xs:minInclusive value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="vrednost">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minInclusive value="0"/>
                                        <xs:fractionDigits value="2"/>
                                        <xs:totalDigits value="14"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="procenatRabata">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minInclusive value="0"/>
                                        <xs:fractionDigits value="2"/>
                                        <xs:totalDigits value="7"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="iznosRabata">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minInclusive value="0"/>
                                        <xs:fractionDigits value="2"/>
                                        <xs:totalDigits value="14"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="umanjenoZaRabat">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minInclusive value="0"/>
                                        <xs:totalDigits value="14"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ukupanPorez">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minInclusive value="0"/>
                                        <xs:fractionDigits value="2"/>
                                        <xs:totalDigits value="14"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="TFirma">
        <xs:sequence>
            <xs:element name="naziv">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="5"/>
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="adresa">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="5"/>
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="pib">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="11"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
